<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"  />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"  />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/img_ico_aplicacion"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.Harmonia"
        tools:targetApi="31">
        <service android:name=".utils.ServicioActualizacion"/>
        <activity
            android:name=".activities.pantallasExtras.derrotaDesafio_activity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.pantallasExtras.victoria_activity"
            android:exported="false" />
        <activity
            android:name=".activities.pantallasExtras.derrota_activity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.JuegoMusicalActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.NivelesAventuraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AnimatedSplash.MySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ConfiguracionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EligeModoJuegoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PerfilUsuarioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.iniciarSesion.escribirNuevaContrasenaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.iniciarSesion.EnvioCodigoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.iniciarSesion.ContrasenaRestablecidaCorrectamenteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.iniciarSesion.RestableceContrasenaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:icon="@mipmap/img_ico_aplicacion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.iniciarSesion.RegistroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <service android:name=".utils.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>